[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/cglm"]
	path = third_party/cglm
	url = https://github.com/recp/cglm
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
